.navbar{
    text-align: center;
    position: sticky;
    z-index: 999;
    padding-top: 0.5rem;
    background-color: var(--cor-fundo);
}

.navbar-hid{
    list-style: none;
    display: flex;
    position: fixed;
    justify-content: center;
    bottom: 2rem;
    z-index: 2;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;

    background-color: var(--cor-destaque);
    border-radius: 50px;
    padding: 0.75rem;
    width: fit-content;
    opacity: 0.9;
    box-shadow: 5px 4px 2px rgba(0, 0, 0, 0.15);
    border: solid 3px var(--cor-fundo);

    &:hover{
        cursor: pointer;
    }

     svg{
    display: block;
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease;
    transform-origin: center;
}
}

.navbarul-mobile{
    list-style: none;
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    position: fixed;
    justify-content: center;
    bottom: 1rem;
    left: 5%;
    right: 5%;
    margin-left: auto;
    margin-right: auto;
    z-index: 2;

    gap: 1rem;
    padding: 1rem 2rem;
    height: fit-content;
    width: fit-content;
    background-color: var(--cor-destaque);
    border-radius: 50px;
    box-shadow: 5px 4px 2px rgba(0, 0, 0, 0.15);
    border: solid 3px var(--cor-fundo);

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: scaleX(0);
    transform-origin: center;
    transition: opacity 0.1s ease, transform 0.4s ease, visibility 0.2s;

    li a{
    white-space: nowrap;
    text-align: center;
    opacity: 0.8;
    letter-spacing: 0.075rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2px;
    border-bottom: 2px solid transparent;
    transition: border-color 0.3s ease, opacity 0.3s ease;

    &.active{
            border-bottom: 2px solid var(--cor-fundo);
            opacity: 0.8;
    }
    }

    li:last-child{
        /*padding: 0.75rem 0 0;*/
        opacity: 0.8;
        
        &:hover{
        cursor: pointer;
    }
    }
}

.navbarul-mobile.aberta{
    display: flex;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: scaleX(1);
}

.menu.some{
    display: none;
}

/*CONFIG GERAL*/
.config{
    list-style: none;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    z-index: 2;
    right: 0;
    top: 0;
    margin: 0.75rem 1rem;
    anchor-name: --btn-config;
    

    background-color: var(--cor-destaque);
    border-radius: 50px;
    padding: 0.25rem;
    width: fit-content;
    opacity: 0.9;
    box-shadow: 5px 4px 2px rgba(0, 0, 0, 0.15);

    &:hover{
        cursor: pointer;
    }

 svg{
    display: block;
    width: clamp(25px, 5vw, 40px);
    height: auto;
    transition: transform 0.3s ease;
    transform-origin: center;
}

    li{
        color: var(--cor-fundo);
        font-weight: 600;
        transition: transform 0.3s ease; 

        &:hover{
            transform: rotate(90deg);
        }
    }
}

.aba-config{
    z-index: 2;
    position: fixed;
    position-anchor: --btn-config;
    position-area: bottom right;
    right: 2rem;
    padding: 1rem;
    background-color: var(--cor-destaque);
    border: 3px solid var(--cor-fundo);
    border-radius: 30px;
    border-top-right-radius: 5px;
    box-shadow: 5px 4px 2px rgba(0, 0, 0, 0.15);

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: scaleY(0);
    transform-origin: top;
    transition: opacity 0.3s ease, transform 0.2s ease, visibility 0.2s;
    
    ul{
        gap: 0.5rem;
        list-style: none;
        flex-direction: row;
        display: flex;
    }
    li{
        cursor: pointer;
        font-weight: 600;
        color: var(--cor-fundo);
    }
}

.aba-config.aberta{
    display: flex;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: scaleY(1);

    svg p{
    width: clamp(25px, 5vw, 40px);
    height: auto;
    }
}

.lua{ display:none;}
[data-theme="dark"] .sol{display:none;}
[data-theme="dark"] .lua{display:block;}

.notificacao{
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;

    &::after{
        content: '';
        position: absolute;
        position-anchor: --btn-config;
        position-area: top;
        width: 10px;
        height: 10px;
        background-color: var(--cor-atencao);
        border: 3px solid var(--cor-fundo);
        border-radius: 50px;
        z-index: 999;

        top: -1.25rem;
        right: -0.75rem;
        animation: notificacao 2.5s ease-in-out infinite;
    }

    &.clicada{
        display: none;
    }
}

.music { display: none; }
.tocando .noMusic { display: none; }
.tocando .music { display: inline; }

.tocandomusica{
    display: inline;
    position: fixed;
    width: 100%;
    text-align: center;
    z-index: 999;
    top: -100px;
    background-color: rgba(0, 0, 0, 0.15);
    font-size: 15px;
    transition: top 0.6s ease;
    p{
        opacity: 0.8;
    }

    &.popup {
        top: 0px;
    }
}